<h1>Good Job Doing These!</h1>
<ul class="list-group">
<% @todos.each do |todo|  %>
	<li class="list-group-item <%= todo.priority %>"><%= todo.task %></li>
<% end %>
</ul>
<%= link_to "Back to To Do list", todos_path %>
<%= debug(params) if Rails.env.development? %>